@use "../abstract/" as *;

.header {
  background: $light;
  padding: 3rem 0;
  &__wrapper {
    @include flexBetween;
  }
  &__branding img {
    @include imageCover(30rem, auto);
  }
  &__nav {
    @include flexBetween;
    gap: 2rem;
    ul {
      @include flexBetween;
      flex-wrap: wrap;
      justify-content: right;
      gap: 2rem;
      li {
        font-weight: 100;
      }
    }
    .button a {
        font-weight: 500;
      }
  }
}
